@use "./sass/variables" as *;

.container {
  position: fixed;
  padding: 32px 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-primary-light, 0.8)),
    url("./img/background.jpg");
  background-size: cover;
  background-position: top;
  color: $color-grey-dark;
  overflow: auto;
}
