@use '../../sass/variables' as *;

.dialogbox {
  :global(.MuiPaper-root) {
    width: 31.25rem;
    background-color: transparent;
  }
}

.heading {
  display: flex;
  align-items: center;
  padding: 16px;
  color: #fff;
  background: rgb($color-primary-dark, 0.8);
  letter-spacing: 2px;

  .title {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: auto;
    font-size: 1.5rem;

    svg {
      height: 1.8125rem;
      width: 1.8125rem;
    }
  }

  svg {
    cursor: pointer;
  }
}

.content {
  padding: 24px 24px 48px 24px;
  background: rgb($color-white, 0.8);
  color: #333333;
  font-size: 1rem;
  line-height: 1.5;

  svg {
    height: 20px;
    width: 20px;
  }
}